{% extends "base.html" %}

{% load static %}

{% block js %}
    {{ block.super }}
    <div id="chart" style="width: 50%; height: 100%; float:left;">
    </div>
    <div id="mapid" style="width: 50%; height: 100%; float:right;">
    </div>

    <script>
        overlays = [];

        let mymap = L.map('mapid').setView([40.063235, 22.449564], 11);
        let Esri_WorldImagery = L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
            attribution: 'Tiles &copy; Esri &mdash; Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community, overlay images from Sentinel2'
        });

        mymap.addLayer(Esri_WorldImagery);
        basemaps = {'Satellite': Esri_WorldImagery};

        let drawnItems = new L.FeatureGroup();
        mymap.addLayer(drawnItems);
        L.control.layers(basemaps).addTo(mymap);

        var drawControl = new L.Control.Draw({
            draw: {
                polygon: true,
                marker: false,
                polyline: false,
                circlemarker: false,
                circle: false
            },
            edit: {
                featureGroup: drawnItems,
                edit: false
            }
        });


        mymap.addControl(drawControl);

        mymap.on(L.Draw.Event.CREATED, function (e) {
            overlays.forEach(function (layer) {
                mymap.removeLayer(layer);
            });
            response = sync_get('layers/');
            if (response.status === 200) {
                ndvi_layer_list = JSON.parse(response.responseText)['ndvi'];
                ndwi_layer_list = JSON.parse(response.responseText)['ndwi'];
            } else {
                ndvi_layer_list = [];
                ndwi_layer_list = [];
            }

            let layer = e.layer;
            let geoj = layer.toGeoJSON();

            let ndvi_stats = _.map(ndvi_layer_list, function (layer_name) {
                geoj['properties']['layer_name'] = layer_name;
                geoj['properties']['image_type'] = 'NDVI';
                data = sync_post('stats/', geoj);
                return data;
            });

            let ndvi_filtered_stats = _.filter(ndvi_stats, function (result) {
                if (result === {}) {
                    return result.ignore;
                }
                return result});

            if (ndvi_filtered_stats.length === 0) {
                return;
            }
            overlays.push(draw_image(geoj));

            let ndwi_stats = _.map(ndwi_layer_list, function (layer_name) {
                geoj['properties']['layer_name'] = layer_name;
                geoj['properties']['image_type'] = 'NDWI';
                data = sync_post('stats/', geoj);
                return data;
            });

            let ndwi_filtered_stats = _.filter(ndwi_stats, function (result) {
                if (result === {}) {
                    return result.ignore;
                }
                return result});

            make_chart(ndvi_filtered_stats, ndwi_filtered_stats, geoj, layer._bounds);
        });

        var legend = L.control({position: 'bottomright'});
        var legend2 = L.control({position: 'bottomleft'});

        function getColor(color, image_type) {
            return sync_get('color/?color=' + color + '&type=' + image_type).responseText;
        }

        legend.onAdd = function () {

            var div = L.DomUtil.create('div', 'info legend'),
                grades = [0, 0.2, 0.4, 0.6, 0.8],
                labels = [];

            // loop through our density intervals and generate a label with a colored square for each interval
            for (var i = 0; i < grades.length; i++) {
                div.innerHTML +=
                    '<i style="background:' + getColor(grades[i] + 0.1, 'NDVI') + '"></i>' +
                    grades[i] + (grades[i + 1] ? '&ndash;' + grades[i + 1] + '<br>' : '+');
            }

            return div;
        };

        legend2.onAdd = function () {

            var div = L.DomUtil.create('div', 'info legend'),
                grades = [-1, -0.8, -0.6, -0.4, -0.2],
                labels = [];

            // loop through our density intervals and generate a label with a colored square for each interval
            for (var i = 0; i < grades.length; i++) {
                div.innerHTML +=
                    '<i style="background:' + getColor(grades[i] + 1.1, 'NDWI') + '"></i>' +
                    grades[i] + (grades[i + 1] ? '&ndash;' + grades[i + 1] + '<br>' : '+');
            }

            return div;
        };

        legend.addTo(mymap);
        legend2.addTo(mymap);
    </script>

{% endblock %}